Repository gonztirado/ac-grupo2-trabajoequipo, pull requests merged in 2020-08, with the labels that each got.

#7 Added a feature index
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/architectcoders/grupo2verano2020/DatabaseActivity.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/Extensions.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/FirebaseActivity.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/MainActivity.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/OcrActivity.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/ViewActivity.kt
  app/src/main/res/layout/activity_database.xml
  app/src/main/res/layout/activity_firebase.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_ocr.xml
  app/src/main/res/layout/activity_view.xml
  build.gradle
Labels: 01-View

#8 Configure Firebase #4
  app/build.gradle
  app/google-services.json
  app/src/main/java/com/architectcoders/grupo2verano2020/Answers.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/FirebaseActivity.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/Questions.kt
  app/src/main/java/com/architectcoders/grupo2verano2020/Test.kt
  app/src/main/res/layout/activity_firebase.xml
  build.gradle
Labels: 02-Cloud

#9 Added a Google Vision sample for text recognition
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/architectcoders/grupo2verano2020/OcrActivity.kt
  app/src/main/res/layout/activity_ocr.xml
  doc/sample-tests/modulo_0.json
Labels: 04-OCR
